<div class="card col-3 m-3 p-2">
    <img src=" {{this}}" class="card-img-top" alt="{{this}}">
    <div class="card-body">
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
    </div>
</div>