<body class="wbody">
    <div class="d-flex justify-content-center">
        <table class="table w-50 ">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Year</th>
                    <th>Director</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Saving Private Ryan</td>
                    <td>1998</td>
                    <td>Steven Spielberg</td>

                </tr>
                <tr>
                    <td>The fast and Furious</td>
                    <td>2001</td>
                    <td>Rob Cohen</td>
                </tr>
                <tr>
                    <td>WheelMan</td>
                    <td>2009</td>
                    <td>Tigon Studios</td>

                </tr>
                <tr>
                    <td>BloodShot</td>
                    <td>2020</td>
                    <td>Dave Wilson</td>
                </tr>
                <tr>
                    <td colspan="3"><img src="/images/fast.webp" alt="fast"></td>
                </tr>
            </tbody>

        </table>
    </div>
</body>